body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f9;
}

/* Navbar */
.nav {
  background: #1e293b;
  color: white;
  padding: 15px;

  display: flex;
  justify-content: space-between;
}

.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Pages */
.page {
  text-align: center;
  padding: 40px;
}

/* Cards */
.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;

  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.card input,
.card select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Buttons */
button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

/* Grid */
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blue { background: #dbeafe; }
.green { background: #dcfce7; }
.yellow { background: #fef9c3; }

/* Result */
.result {
  background: #ecfeff;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}
.purple { background: #ede9fe; }
.orange { background: #ffedd5; }
